[submodule "browser-use"]
	path = browser-use
	url = https://github.com/browser-use/browser-use.git
[submodule "windieos"]
	path = windieos
	url = https://github.com/buiilding/WindieOS
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/openclaw/openclaw.git
